:root {
    --max-width: 1024px;
}

* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    word-wrap: break-word;
    outline: none;
    border: none;
}

.max-width {
    max-width: var(--max-width);
    width: 100%;
}

p {
    margin: 5px 0;
}

.logo {
    max-width: 120px;
    width: 100%;
}

.espacamento {
    margin-top: 20px;
}

.ck-editor__editable_inline {
    min-height: 300px;
}

#divalert {
    margin-top: 10px;
}