:root {
    --max-width: 1024px;
}

* {
    outline: none;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    word-wrap: break-word;
    border: none;
}

.max-width {
    max-width: var(--max-width);
    width: 100%;
}

p {
    margin: 5px 0;
}

.logo {
    max-width: 120px;
    width: 100%;
}

.novareceita {
    font-size: 15px;
}

input[type="text"] {
    padding: 20px;
}
